.size-0 {
	font-size: 0.9em !important;
}
.size-1 {
	font-size: 1.1em !important;
}
.size-2 {
	font-size: 1.3em !important;
}
.size-3 {
	font-size: 1.5em !important;
}
.size-4 {
	font-size: 1.7em !important;
}
.size-5 {
	font-size: 2em !important;
}
