.SteelBlue {
    background-color: SteelBlue;
}

.Aqua {
    background-color: Aqua;
}

.MediumTurquoise {
    background-color: MediumTurquoise;
}

.PaleTurquoise {
    background-color: PaleTurquoise;
}

.CadetBlue {
    background-color: CadetBlue;
}

.LightSteelBlue {
    background-color: LightSteelBlue;
}

.SkyBlue {
    background-color: SkyBlue;
}

.Lime {
    background-color: Lime;
}

.GreenYellow {
    background-color: GreenYellow;
}

.LimeGreen {
    background-color: LimeGreen;
}

.PaleGreen {
    background-color: PaleGreen;
}

.OliveDrab {
    background-color: OliveDrab;
}

.SeaGreen {
    background-color: SeaGreen;
}

.ForestGreen {
    background-color: ForestGreen;
}

.Crimson {
    background-color: Crimson;
}

.FireBrick {
    background-color: FireBrick;
}

.OrangeRed {
    background-color: OrangeRed;
}

.IndianRed {
    background-color: IndianRed;
}

.LightCoral {
    background-color: LightCoral;
}

.Salmon {
    background-color: Salmon;
}

.LightSalmon {
    background-color: LightSalmon;
}

.DarkOrange {
    background-color: DarkOrange;
}

.Gold {
    background-color: Gold;
}

.Khaki {
    background-color: Khaki;
}

.DarkKhaki {
    background-color: DarkKhaki;
}

.PaleGoldenrod {
    background-color: PaleGoldenrod;
}

.Moccasin {
    background-color: Moccasin;
}

.PeachPuff {
    background-color: PeachPuff;
}

.BlueViolet {
    background-color: BlueViolet;
}

.Purple {
    background-color: Purple;
}

.Thistle {
    background-color: Thistle;
}

.Plum {
    background-color: Plum;
}

.Violet {
    background-color: Violet;
}

.MediumOrchid {
    background-color: MediumOrchid;
}

.MediumPurple {
    background-color: MediumPurple;
}
