body {
	padding-top: 35px;
	line-height: 1.4;
}
.loadingOverlay {
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	padding-top: 20%;
	color: steelblue;
	font-size: 300%;
	vertical-align: middle;
	display: table-cell;
	z-index: 999;
}
#messagebox_overlay {
	z-index: 1000; /* needs to be higher than loadingOverlay */
}

.sidebar {
	max-height: 85vh;
	overflow-y: auto;
}

.navReference {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding: 5px 10px;
	text-align: left;
	z-index: 10;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.9);
	padding-left: 15px;
	transform: translateZ(0);
}
.verseReference {
	display: inline-block;
	width: 180px;
	text-align: left;
	font-weight: bold;
}
/* Larger than mobile */
@media (min-width: 400px) {}
	.verseReference {
		margin-left: 7.5%;
	}

/* Larger than phablet */
@media (min-width: 550px) {
	.verseReference {
		margin-left: 10%;
	}
}
/* Larger than tablet */
@media (min-width: 1200px) {
	.verseReference {
		margin-left: calc(50% - 480px);
	}
}
.chapterLink {
	padding: 3px;
	text-decoration: none;
}
.chapterLink:hover {
	color: #338;
}
.dataDisplayer {
	font-size: 150%;
	font-family: "SBL Biblit", "SBL Greek";
	letter-spacing: 1px;
}
.definition {
	max-width: 60vw;
	font-family: "SBL Biblit", "SBL Greek";
}
.definitionTitle {
	font-weight: 300;
	font-size: 130%;
	margin: 0;
	padding: 0;
}
.definitionDetail {
	font-size: 80%;
	margin-bottom: 15px;
}

.contentmain {
	font-family: "SBL Biblit", "SBL Greek";
	font-size: 1.3em;
}

.chapter:before {
	content: attr(data-chapter-number);
	float: left;
	font-weight: bold;
	font-size: 280%;
	position: relative;
	padding: 0 10px 0 0;
	line-height: 100%;
}
.verse:hover {
	color: #116;
}
.verse:hover:before {
	color: #a00;
	font-weight: bold;
}
.verse:before {
	content: attr(data-verse-number);
	display: inline-block;
	font-size: 70%;
	position: relative;
	top: -5px;
	color: #44f;
}

.wordItself {
	display: inline-block;
	margin: 0.1em 0;
	padding: 0 2px;
	cursor: pointer;
}
.regexHighlighted {
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.settings {
	top: 20px;
	right: 20px;
	position: fixed;
	width: 30px;
	height: 30px;
	z-index: 10;
}
.settings .gearButton {
	position: absolute;
}
.settingsOptions {
	box-sizing: padding-box;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: -10px;
	right: -10px;
	border: 1px solid #ddd;
	padding: 25px 30px;
	border-radius: 5px;
	transition: opacity 300ms ease;
	width: 200px;
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
}
.settings:hover .settingsOptions {
	opacity: 1;
	pointer-events: all;
}
.wordItself:hover {
	color: #33F;
}
.selectedWord {
	position: relative;
}
.selectedWord:before {
	position: absolute;
	display: block;
	border: 6px solid #333;
	background: rgba(0, 0, 0, 0.3);
	width: 1.5em;
	height: 1.5em;
	left: calc(50% - 0.75em + 0.05em - 6px);
	top: calc(50% - 0.75em - 6px);
	content: " ";
	z-index: 1;
	border-radius: 50%;
	opacity: 0.3;
}


input[type="range"]::-moz-range-track {
	padding: 0 10px;
	background: repeating-linear-gradient(to right, #ccc, #ccc 7%, #000 7%, #000 8%, #ccc 8%, #ccc 16.5%);
}
input[type=range]::-moz-focus-outer {
	border: 0;
}


.searchResults {
	box-sizing: border-box;
	position: fixed;
	background: #EEE;
	width: 14%;
	top: 0;
	bottom: 0;
	padding: 40px 1em 1em 1em;
	transform: translateX(-100%) translateX(0.7em);
	transition: transform 300ms ease-in-out;
	overflow-y: auto;
	overflow-x: hidden;
}
.searchResults:hover {
	transform: translateX(0);
}

.heading {
	font-size: 1.2em;
	color: #555;
}
.searchResults ul li {
	list-style: none;
	cursor: pointer;
	padding: 1px 10px;
	border-radius: 2px;
	margin-bottom: 4px;
}
.searchResults ul li:hover {
	background: #DDD;
}
.vref {
	display: inline-block;
	width: 40px;
}
.vword {
	display: inline-block;
	width: calc(100% - 2em - 40px);
	padding-left: 3px;
	font-family: "SBL Biblit", "SBL Greek";
}

input[type=checkbox] {
	position: absolute;
	z-index: -1000;
	left: -2000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type=checkbox] + label:hover {
	color: #333;
}
input[type=checkbox] + label {
	padding-left: 24px;
	height: 17px;
	display: inline-block;
	line-height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 13px;
	vertical-align: middle;
	cursor: pointer;
	margin: 0 0 10px 0;
	color: #555;
	text-transform:uppercase;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type=checkbox]:checked + label {
	background-position: 0 -17px;
}
input[type=checkbox] + label {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAiCAYAAAC9duLEAAAB2ElEQVRIie3WMWhTQRgA4C8SHETEIYOCiIKIgziouBUVuriISxdBipYi6OTyTgUHocXecxHEwVaxIOLo5Ka2m6OLmyFIkeDQwUlKKdbhXfA1zWsTzNh/y89/3/33fu5Ibd3wYtcQLfU8xlG8xOEB1i1hIgvhwwYMrzGP5wNgN9O6g93YAcxlIXzvV8pjnMPd7nznm/0ZoKvK+qEOYAfbwbbBBkV71tfxE5N5jIPczcm0bhN2TfFqbLprW8QSxruTtWE8jnmMNzBe/0/kkOIpuoCZeh7jWTzFCf0N4nEWwlQe4xW8wn7cy0KYqcUYv2FR8TiubQP9RhPT/n3jqSyEBxQDOIZLWQjNPo61B+9wOaVmO5DSsdZScWMLaB8WStAn3C7X1GKM6ziKUTzDC9zJQlgtQQ18xKmUauFMFsKvMtbprIGH2I1b+JzHeKQELZSgVYylNRuigy3jPNrp92l8yWO8ivc4WVoTFEN4W4VJAxhJR6AY+RucK9UvZiE8SZsdr8QS2EodtroLsYKJHvneWAJ/VICP0mb9YyVwBF9Tqo18K6gSS2AbFxM4nYWw0i9W1eFyAue3gyiuUxsT6f9DVezNYyw3MKbHkOq4jjnc72f3FE3Fo7oh/gJ7Q4g8ITja9AAAAABJRU5ErkJggg==);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.navReference::before {
	position: absolute;
	width: calc(100% - 65px);
	left: 0;
	height: 100%;
	top: 0;
	z-index: -1;
	box-shadow: -6px 0 white,
		6px 0 white,
		0 7px 4px -3px #f3f3f3;
	content: "";
	transform: translateZ(0);
}


/* Larger than tablet */
@media (max-width: 1200px) {
	.tab-nav .button {
		font-size: 0;
		color: white;
		position: relative;
	}
	.tab-nav .button::before {
		font-size: 20px; /* skeleton.css default is 11px */
		position: absolute;
		left: 0;
		right: 0;
		color: #555;
		content: attr(data-symbol);
	}
	.tab-nav .button:hover::before {
		color: #333;
	}
}

.textUnit {
    white-space: nowrap;
	display: inline-block;
}
.textCrit:hover,
.textCritRangeHighlight .textCrit {
	color: #a00;
	cursor: pointer;
	font-weight: bold;
}

.textCritRangeHighlight {
	color: #a00;
}

.textCriticismContainer {
	font-family: "SBL Biblit", "SBL Greek";
	font-size: 130%;
}
.textCriticalInfo {
	display: none;
	overflow: hidden;
}
